:root {
    --header-width: 100%;
    --header-height: 50px;
    --header-color: rgba(0, 0, 0, 0.375);
    --header-border-color: #faf9f698;
}

.header {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: var(--header-width);
    height: var(--header-height);
    color: white;
    background: linear-gradient(to right, transparent 0%, var(--header-color) 30%, var(--header-color) 70%, transparent  100%);
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    backdrop-filter: blur(3px);

    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600 ;
    font-style: normal;
}
.header::before,
.header::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(to right, transparent 8%,var(--header-border-color) 30%, var(--header-border-color) 70%,transparent  92%);
    
}

.header::before {
    top: 0;
}

.header::after {
    bottom: 0;
}


#porsche-logo{
    margin-left: 200px;
}
#porsche-logo svg{
    height: 12px;
    width: 200px;
}

.menu{
    height: 100%;
    display:flex;
    align-items: center;
    cursor: pointer;    
}
.menu svg{
    height: 10px;
    width: 50px;
}


.right{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 200px;
    width: 30%;
}


.build-price, .current-offers{
    cursor : pointer;
}

#porsche-logo, .menu, .build-price, .current-offers{
    opacity: 0.6;
    filter: blur(0.4px);
    transition: opacity 0.1s ease-in-out;
}
#porsche-logo:hover, .menu:hover, .build-price:hover, .current-offers:hover{
    filter: blur(0px);
    opacity: 1;
}

.circleScroll{
    --knob-dimension: 18px;
    --circle-top: calc(50% - 350px);
    --circle-left: calc(50% - 100px);
}
.circle{
    z-index: 100;
    position:fixed;
    top: var(--circle-top);
    left: var(--circle-left);
    pointer-events: none;
    opacity: 0.6;
}
.knob{
    opacity:0.1;
}
.knob:hover{
    opacity:1;
}
.footer{
    z-index: 100;
    width: 100vw;
    height: 100px;
    bottom: 0;
    position: fixed;
    color:white;
    display: flex;
    align-items: center;
    flex-direction: row;
    /* gap: 40px; */
    font-family: "Raleway", sans-serif;
    font-weight: 600 ;
    font-size: 20px;
    text-shadow: 0px 0px 10px #000;
}
.share{
    position: absolute;
    opacity:0.6;
    left: 40px;
    cursor:default;
}
.share:hover{
    opacity:1;

}
.mouse{
    background-image: url(../public/mouse.png);
    height: 50px;
    width: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 40px;
    opacity: 0;
}
.knob{
    width: var(--knob-dimension);
    height: var(--knob-dimension);
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 10px 1px #000;
    position: fixed;
    z-index: 101;
    top: calc(var(--circle-top) + 350px - var(--knob-dimension) / 2);
    left: calc(var(--circle-left) + 700px - var(--knob-dimension) / 2);
    pointer-events: visible;
    opacity: 1;
}

.centerText{
    position:fixed;
    z-index:100;
    color:rgb(211, 211, 211);
    font-family: "Raleway", sans-serif;
    font-weight: 400 ;
    font-size: 6vh;
    text-shadow: 0px 0px 100px 0px #000;
    top: 60%;
    left: 40%;
    cursor: default;
    word-spacing: 0.2vw; 
    line-height: 7vh;
    opacity:0;
}

.readMore{
    position:fixed;
    z-index:100;
    color:rgba(255, 255, 255, 0.542);
    font-family: "Raleway", sans-serif;
    font-size: 1.3vh;
    text-shadow: 0px 0px 100px 0px #000000;
    top: 80%;
    left: 85%;
    cursor: default;
    opacity:0;
    line-height: 1.5vh;
    word-spacing: 0.1vw;
    text-decoration: none;
    filter: blur(0.6px);

}
.readMore:hover{
    filter: blur(0px);
}
.readMore a{
    color:rgba(255, 255, 255, 0.542);
    text-decoration: none;
}
.readMore a:hover{
    color:rgba(255, 255, 255, 0.842);
}